<head> 
   
  hello from JS file!!
   <link href = '/styles.css' rel = "stylesheet">  
  <link href = '../bower_components/skeleton/css/normalize.css' rel = "stylesheet">
 <!-- <link href = '../../bower_components/skeleton/css/skeleton.css' rel = "stylesheet">-->
 <!--<link href = '/normalize.css' rel = "stylesheet">-->
  <link href = '/skeleton.css' rel = "stylesheet">
 
<!--<script src = "./main.jsx"></script>-->
 
  hello from JS file!!
</head>

<body>
  <div class = 'container'>
  <div id = "app"></div></div>
  <script src = "app.js"></script>
  
</body>